{% extends 'base.html' %}

{% block title %}Circular Graph with GEXF file input{% endblock %}

{% block graph %}Circular Graph with GEXF file{% endblock %}

{% block content %}
    <!-- to prepare a ECharts includes size (width and height) of Dom -->
    <div id="main" style="width: 1000px;height:900px;margin: 0 auto;"></div>

    <script type="text/javascript">
        // Based ready dom, instance initialization echarts
        var myChart = echarts.init(document.getElementById('main'));

        myChart.showLoading();
        $.get("{{ url_for('static', filename='data/les-miserables.gexf') }}", function (xml) {

            myChart.hideLoading();

            var graph = echarts.dataTool.gexf.parse(xml);
            var categories = [];
            for (var i = 0; i < 9; i++) {
                categories[i] = {
                    name: 'Category ' + i
                };
            }

            graph.nodes.forEach(function (node) {
                node.itemStyle = null;
                node.value = node.symbolSize;
                node.symbolSize /= 1.5;
                node.label = {
                    normal: {
                        show: node.symbolSize > 5
                    }
                };
                node.category = node.attributes.modularity_class;
            });

            option = {
                title: {
                    text: 'Les Miserables',
                    subtext: 'Circular layout',
                    top: 'bottom',
                    left: 'right'
                },
                tooltip: {},
                legend: [{
                    data: categories.map(function (a) {
                        return a.name;
                    })
                }],
                animationDurationUpdate: 1500,
                animationEasingUpdate: 'quinticInOut',
                backgroundColor: '#f8f9fa',
                series: [
                    {
                        name: 'Les Miserables',
                        type: 'graph',
                        layout: 'circular',
                        circular: {
                            rotateLabel: true
                        },
                        data: graph.nodes,
                        links: graph.links,
                        categories: categories,
                        roam: true,
                        focusNodeAdjacency: true,
                        itemStyle: {
                            borderColor: '#fff',
                            borderWidth: 1,
                            shadowBlur: 5,
                            shadowColor: 'rgba(0, 0, 0, 0.3)'
                        },
                        label: {
                            position: 'right',
                            formatter: '{b}'
                        },
                        lineStyle: {
                            color: 'source',
                            curveness: 0.3
                        }
                    }
                ]
            };

            myChart.setOption(option);
        }, 'xml');
    </script>
{% endblock %}