{% extends 'base.html' %}

{% block title %}Circular Graph with JSON file input{% endblock %}

{% block graph %}Circular Graph with JSON file{% endblock %}

{% block content %}

    <!-- to prepare a ECharts includes size (width and height) of Dom -->
    <div id="main" style="width: 1000px;height:900px;margin: 0 auto;"></div>

    <script type="text/javascript">
        // Based ready dom, instance initialization echarts
        var myChart = echarts.init(document.getElementById('main'));

        myChart.showLoading();
        $.getJSON("{{ url_for('static', filename='data/les-miserables.json') }}", function (graph) {
            myChart.hideLoading();

            categories = graph.categories;

            graph.nodes.forEach(function (node) {
                node.itemStyle = null;
                node.value = node.size;
                node.symbolSize = node.value / 1.5;
                node.name = node.label;
                node.label = {
                    normal: {
                        show: node.symbolSize > 11
                    }
                };
            });

            option = {
                title: {
                    text: 'Les Miserables',
                    subtext: 'Circular layout',
                    top: 'bottom',
                    left: 'right'
                },
                tooltip: {},
                legend: [{
                    data: categories.map(function (a) {
                        return a.name;
                    })
                }],
                animationDurationUpdate: 1500,
                animationEasingUpdate: 'quinticInOut',
                backgroundColor: '#f8f9fa',
                series: [
                    {
                        name: 'Les Miserables',
                        type: 'graph',
                        layout: 'circular',
                        circular: {
                            rotateLabel: true
                        },
                        data: graph.nodes,
                        links: graph.edges,
                        categories: categories,
                        roam: true,
                        focusNodeAdjacency: true,
                        itemStyle: {
                            borderColor: '#fff',
                            borderWidth: 1,
                            shadowBlur: 5,
                            shadowColor: 'rgba(0, 0, 0, 0.3)'
                        },
                        label: {
                            position: 'right',
                            formatter: '{b}'
                        },
                        lineStyle: {
                            color: 'source',
                            curveness: 0.3
                        }
                    }
                ]
            };

            myChart.setOption(option);
        });
    </script>

{% endblock %}